<?xml version="1.0"?>

<Twitter>
  <consumerKey>f4ZArtNWuvIc6CG7ii7bwJb7v</consumerKey>
  <consumerSecret>HSabEjtevDFwX57fe0syHgwoLacvG91RJ6cCCUQBgvBxGnLotk</consumerSecret>
  <accessToken>2910572745-227v77ZhYtoi0UPuoecjvD7cXSdtJMvU7WAn2Ie</accessToken>
  <accessSecret>ODv43muOgDPXce4U5Vx040HVyqma34tBfyUg73AgE799y</accessSecret>
</Twitter>

